@page
@using System.Security.Claims
@model DuelSys_inc_WebApp.Pages.BadmintonModel
@{
}
<script>
	const submitTournament = (tournamentId) => {
		const input = document.getElementById("tournament-input")
		const form = document.getElementById("tournament-form")
		input.value = tournamentId
		console.log(tournamentId)
		form.submit()
	}

	const submitTournamentFilter = (filterId) => {
		const input = document.getElementById("filter")
		const form = document.getElementById("tournament-form")
		input.value = filterId
		console.log(filterId)
		form.submit()
	}
</script>

<header id="header">
	<h1><a href="">DuelSys Inc.</a> sport tournaments</h1>
	<nav id="nav">
		<ul>
			<li><a href="Index">Home</a></li>
			<li> <a asp-page="Logout" asp-route-returnUrl="@Request.Path" class="button">Logout</a></li>
		</ul>
	</nav>
</header>
<div id="page-wapper">
	<div class="container">
		<h2>Tournaments List</h2>

		<form method="post" id="tournament-form">
			<input asp-for="TournamentId" id="tournament-input" type="hidden" />
			<input asp-for="TournamentStageFilter" id="filter" type="hidden" />
			<input asp-for="TournamentSportName" value="@Model.TournamentSportName" name="sportName" id="sportName-input" type="hidden" />

			<details class="icon solid dropdown">
				<summary role="button">
					<a class="icon solid dropdown">Filter</a>
				</summary>
				<ul class="justify-content-center align-content-center">
					<li><input asp-page-handler="Filter" class="button alt justify-content-center" type="submit" value="All" id="filter" onclick="submitTournamentFilter(0)"></li>
					<li><input asp-page-handler="Filter" class="button alt" type="submit" value="Open registration" id="filter" onclick="submitTournamentFilter(1)"></li>
					<li><input asp-page-handler="Filter" class="button alt" type="submit" value="Ongoing tournaments" id="filter" onclick="submitTournamentFilter(2)"></li>
					<li><input asp-page-handler="Filter" class="button alt" type="submit" value="Finished tournaments" id="filter" onclick="submitTournamentFilter(3)"></li>
					<li><input asp-page-handler="Filter" class="button alt" type="submit" value="Canceled tournaments" id="filter" onclick="submitTournamentFilter(4)"></li>
				</ul>
			</details>

			<ul>
				@foreach (var t in Model.GetAllFilteredTournaments)
				{
					<li class="no-bullet-list">
						<div class="tournament-register-card">
							<div class="card-header">
								@switch (t.SportName)
								{
									case "Badminton":
										@:<img src="img/pngfind.com-shuttlecock-png-5759382.png" style="width: 75px">
										break;

									case "Chess":
										@:<img src="img/Chess.png" style="width: 50px">
										break;
								}
								<div>
									<span>@t.Description</span><br>
									<span>@t.Location</span>
								</div>
								<div class="animated-progress progress-green">
									<span data-progress="@Model.TournamentService.GetTournamentOccupancyPercentage(t.Id)"></span>
								</div>
							</div>
							@{
								if (Model.GetAllStartedTournaments.Any(x => x.Id == t.Id))
								{
									<button asp-page-handler="ViewMatches" onclick="submitTournament(@t.Id)" class="button alt tournament-register" type="submit">View Matches</button>
								}
								if (Model.Validation.ValidTournamentRegistration(int.Parse(HttpContext.User.FindFirstValue(ClaimTypes.NameIdentifier)), t.Id))
								{
									<button class="button alt tournament-register" onclick="submitTournament(@t.Id)">Register</button>
								}
								else
								{
									<h4 class="tournament-register">Unable to register</h4>
								}
							}
						</div>
					</li>
				}
			</ul>
		</form>
	</div>
</div>
