@page
@model DuelSys_inc_WebApp.Pages.BadmintonModel
@{
}
<div class="container">
	<h2>Tournaments List</h2>
	
	<script>
		const submitTournament = (tournamentId) => {
			const input = document.getElementById("tournament-input")
			const form = document.getElementById("tournament-form")
			input.value = tournamentId
			form.submit()
		}
	</script>

	<input type="hidden" asp-for="TournamentId" value="@Model.TournamentId"/>
	<ul>
		@foreach (var t in Model.TournamentService.GetAllTournamentsForView())
		{
			<form method="post" id="tournament-form">
			<li class="no-bullet-list">
				<div class="tournament-register-card">
					<div class="card-header-nigger">
						<img src="img/badminton.png" style="width: 45px">
						<div>
							<span>@t.Description</span><br>
							<span>@t.Location</span>
						</div>
						<div class="animated-progress progress-green">
							<span data-progress="@Model.TournamentService.GetTournamentOccupancyPercentage(t.Id)"></span>
						</div>
					</div>
					<button type="submit" onclick="submitTournament(@t.Id)">Register</button>
				</div>
			</li>
			</form>
		}
	</ul>
</div>