@page
@model RoundRobinMatchesModel
@{
	var playerMatches = Model.AllMatchesPerPlayer;
	var row = 0;
	var cell = row;
}
<script>
	const cells =[]
	const onMatchClicked = (winnerId, loserId) => {
		cells.forEach(el => {
			el.style.background="#1d1d1d"
		});
		const  winnerCell = document.getElementById(winnerId)
		const  loserCell = document.getElementById(loserId)
		cells.push(winnerCell,loserCell)
		winnerCell.style.background = "lightgreen"
		loserCell.style.background = "lightcoral"
	}
</script>
<header id="header">
	<h1><a href="">DuelSys Inc.</a> sport tournaments</h1>
	<nav id="nav">
		<ul>
			<li><a href="Index">Home</a></li>
			<li> <a asp-page="Logout" asp-route-returnUrl="@Request.Path" class="button">Logout</a></li>
		</ul>
	</nav>
</header>
<div class="container" id="page-wrapper">
	<table class="leaderboard-results">
		<thead>
			<tr>
				<th>Player</th>
				<th>Result</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var playerMatch in playerMatches)
			{
				<tr>
					<td id="@playerMatch.Key">@Model.PlayerIdAndFullName.Where(x => x.Key == playerMatch.Key).Select(x => x.Value).First()</td>
					@foreach (var match in playerMatch.Value)
					{
						if (cell == row)
						{
							cell += 1;
							<td></td>
						}
						cell += 1;
						var results = Model.TournamentResults
						.Where(x => x.MatchId == match.Id)
						.OrderByDescending(y => y.UserId == playerMatch.Key)
						.ToList();
						var rank = results
						.OrderByDescending(x => x.MatchResult)
						.ToList();
						if (results.Count > 0)
						{
							<td class="result-cell" onclick="onMatchClicked(@rank[0].UserId, @rank[1].UserId)">
								@(results[0].MatchResult) - @(results[1].MatchResult)
							</td>
						}
						else
						{
							<td>Not played</td>
						}
						if (playerMatch.Value.Count == row && row == cell)
						{
							<td></td>
						}
					}
				</tr>
				row += 1;
				cell = 0;
			}
		</tbody>
	</table>
	<table id="rankings" class="leaderboard-results">
		<thead>
			<tr>
				<th>Name</th>
				<th>Wins</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var rank in Model.Leaderboard)
			{
				<tr>
					<td>@Model.PlayerIdAndFullName.Where(x => x.Key == rank.Key.Id).Select(y => y.Value).First()</td>
					<td>@rank.Value</td>
				</tr>
			}
		</tbody>
	</table>
</div>
